<div class= "d-flex align-items-start justify-content-center "style="height:92vh; background-image: url('../assets/img/prueba.jpg'); background-size: cover;">
  <div class="contenedor" [@fadeInOut]>
    <h2>Registro de usuario</h2>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="inputs">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" required placeholder="Ingrese usuario"
        required pattern="[a-zA-Z]+" [(ngModel)]="usuario.nombreUsuario">
      </div>
      <div class="inputs">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required placeholder="Ingrese contraseña"
        required pattern="[a-zA-Z]+" [(ngModel)]="usuario.password">
      </div>
      <button class="btn" type="submit" [routerLink]="['/login']">Registrarse</button>
    </form>
    <div class="register">
      ¿Ya tienes una cuenta? <a [routerLink]="['/login']">Iniciar sesión</a>
    </div>
    <div [ngSwitch]="status">
      <div *ngSwitchCase="0" class="alert alert-success">
        <p>Registro exitoso!!!</p>
      </div>
      <div *ngSwitchCase="1" class="alert alert-danger">
        <p>Correo registrado previamente!!!</p>
      </div>
      <div *ngSwitchCase="2" class="alert alert-warning">
        <p>Error de conexión al servidor!!!</p>
      </div>
  </div>
</div>


