



    
    <!-- home content -->
    <section class="home">
        <div class="content text-space-around">
          <h1> <span>Productos Electrónicos</span>
            <br><br>
            Hasta en un <span id="span2">50% </span>Descuento
          </h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, saepe.
            <br>Lorem ipsum dolor sit amet consectetur.
          </p>
          <div class="btn"><button>Compra Ahora</button></div>
    
        </div>
        <div class="img">
          <img src="../assets/images/background.png" alt="">
        </div>
      </section>
        <!-- home content -->
    
  
    
    
    
    
    
    
        <!-- product cards -->
        <div class="container" id="product-cards">
          <h1 class="text-center">Variedad de Productos</h1>
          <div class="row" style="margin-top: 30px;">
           
    
    
    
    
        <!-- other cards -->
        <div class="container" id="other-cards">
          <div class="row">
            <div class="col-md-6 py-3 py-md-0">
              <div class="card">
                <img src="../assets/images/c1.png" alt="">
                <div class="card-img-overlay">
                  <h3>Las mejores Laptop</h3>
                  <h5>Última Colección</h5>
                  <p>Hasta 50% de Descuento</p>
                  <button id="shopnow">Compra Ahora</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 py-3 py-md-0">
              <div class="card">
                <img src="../assets/images/c2.png" alt="">
                <div class="card-img-overlay">
                  <h3>Los Mejores Audífonos</h3>
                  <h5>Última Colección</h5>
                  <p>Hasta 50% de Descuento</p>
                  <button id="shopnow">Compra Ahora</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- other cards -->
       
    
    
    
    
    
    
        <!-- banner -->
        <section class="banner">
          <div class="content">
            <h1> <span>Electronic Gadget</span>
              <br><br>
             Hasta en un <span id="span2">50%</span> Descuento
            </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, saepe.
              <br>Lorem ipsum dolor sit amet consectetur.
            </p>
            <div class="btn"><button>Compra Ahora</button></div>
      
          </div>
          <div class="img">
            <img src="../assets/images/image1.png" alt="">
          </div>
        </section>
        <!-- banner -->
    
    
    

          <!-- other cards -->
        <div class="container" id="other">
          <div class="row">
            <div class="col-md-4 py-3 py-md-0">
              <div class="card">
                <img src="../assets/images/c3.png" alt="">
                <div class="card-img-overlay">
                  <h3>Home Gadget</h3>
                  <p>Última Colección Hasta 50% de Descuento</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
              <div class="card">
                <img src="../assets/images/c4.png" alt="">
                <div class="card-img-overlay">
                  <h3>Gaming Gadget</h3>
                  <p>Última Colección Hasta 50% de Descuento</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
              <div class="card">
                <img src="../assets/images/c5.png" alt="">
                <div class="card-img-overlay">
                  <h3>Electronic Gadget</h3>
                  <p>Última Colección Hasta 50% de Descuento</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- other cards -->
    
    
        <!-- offer -->
        <div class="container" id="offer">
          <div class="row">
            <div class="col-md-3 py-3 py-md-0">
              <i class="fa-solid fa-cart-shopping"></i>
              <h3>Free Shipping</h3>
              <p>On order over $1000</p>
            </div>
            <div class="col-md-3 py-3 py-md-0">
              <i class="fa-solid fa-rotate-left"></i>
              <h3>Free Returns</h3>
              <p>Within 30 days</p>
            </div>
            <div class="col-md-3 py-3 py-md-0">
              <i class="fa-solid fa-truck"></i>
              <h3>Fast Delivery</h3>
              <p>World Wide</p>
            </div>
            <div class="col-md-3 py-3 py-md-0">
              <i class="fa-solid fa-thumbs-up"></i>
              <h3>Big choice</h3>
              <p>Of products</p>
            </div>
          </div>
        </div>
        <!-- offer -->
    
    
    
        
        <!-- newslater -->
        <div class="container" id="newslater">
          <h3 class="text-center">Suscribete a la Electronic Shop para mantenerte actualizado.</h3>
          <div class="input text-center">
            <input type="text" placeholder="Enter Your Email..">
            <button id="subscribe">SUSCRIBETE</button>
          </div>
        </div>
        <!-- newslater -->
    
    
    
