<div class="card">
  <div class="card-body">
    <h1 mat-dialog-title class="mat-dialog-title">Eliminar registro</h1>
    <div mat-dialog-content class="mat-dialog-content">
      ¿Estás seguro de eliminar este registro?
    </div>
    <div mat-dialog-actions class="mat-dialog-actions">
      <button mat-button [mat-dialog-close]="true" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</button>
      <button mat-button mat-dialog-close class="btn btn-secondary"><i class="fas fa-times"></i> Cancelar</button>
    </div>
  </div>
</div>

