<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 p-0">
            <div class="sidebar">
                <h2>(Título)</h2><hr>
                <nav class="nav flex-column">
                    <a class="nav-link" [routerLink]="['/login']">Opción 1</a>
                    <a class="nav-link" [routerLink]="['/empleado']">Opción 2</a>
                    <a class="nav-link" href="#">Opción 3</a>
                    <a class="nav-link" href="#">Opción 4</a>
                </nav>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Contenido principal de la página -->
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>



  
