
            <form class="col-md-6 mr-auto ml-auto card shadow-sm rounded" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
              <h1>Actualizar de envíos</h1>
              <br>
              <div class="form-group">
                <label>Id</label>
                <input type="text" name="idEnvio"  class="form-control"
                 [(ngModel)]="envio.idEnvio" placeholder="Ingrese" disabled>
              </div>
              <br>
              <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" name="direccion"  class="form-control"
                  required pattern="[a-zA-Z ]+" [(ngModel)]="envio.direccion" placeholder="Ingrese">
              </div>
              <br>
              <div class="form-group">
                <label>Chofer</label><br>
                <select name="chofer" class="form-control form-select" [(ngModel)]="envio.chofer">
                  <option [value]="null" disabled selected>Seleccione</option>
                  <option *ngFor="let chofer of choferes" [value]="chofer.idEmpleado">{{ chofer.nombre }}</option>
                </select>       
              </div>  
              <div class="form-group">
               <label>Vehiculo (Unidad)</label>
               <select name="vehiculo" class="form-control form-select" [(ngModel)]="envio.vehiculo">
                  <option [value]="null" disabled selected>Seleccione</option>
                  <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.numUnidad">{{ vehiculo.numUnidad }}</option>
                </select> 
              </div>
              <br>
              <div class="btn-container">
                <input type="submit" value="Actualizar" class="btn btn-success" style= "margin: 5px;" [disabled]="registerForm.invalid">
                <button class="btn btn-danger" style= "margin: 5px;" [routerLink]="['/envio']">Cancelar</button>
              </div>
            </form>
  
  
  

