<div class="container mt-4">
    <div class="card shadow-sm rounded">
      <div class="card-body">
        <div class="card-body d-flex justify-content-between align-items-center">
        <h1 class="mb-4">Vehiculos</h1>
        <!-- Botón "Agregar nuevo" -->
        <button class="btn btn-success mb-3 agregar" [routerLink]="['/vehiculo-registro']">Agregar</button>
        </div>
        <input class="form-control search" type="text" placeholder="Buscar" [(ngModel)]="searchText">
        <br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Numero unidad</th>
              <th>Placa</th>
              <th>Color</th>
              <th>Tipo</th>
              <th>Modelo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vehiculo of vehiculos | search: searchText" class="registros">
              <td class="registro">{{ vehiculo.numUnidad }}</td>
              <td class="registro">{{ vehiculo.placa }}</td>
              <td class="registro">{{ vehiculo.color }}</td>
              <td class="registro">{{ vehiculo.tipo }}</td>
              <td class="registro">{{ vehiculo.modelo }}</td>
              <td class="acciones">
                <!-- Botones "Editar" y "Eliminar" -->
                <button class="btn btn-primary btn-sm mr-2" [routerLink]="['/vehiculo-actualizar', vehiculo.numUnidad]">Editar</button>
                <button (click)="confirmarEliminacion(vehiculo.numUnidad)" class="btn btn-danger btn-sm">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  

