
<form class="col-md-6 mr-auto ml-auto card shadow-sm rounded" #actualizarForm="ngForm" (ngSubmit)="onSubmit(actualizarForm)">
    <h1>Registrar datos de categoria</h1>
    <br>
    <div class="form-group">
        <label>ID</label>
        <input type="text" name="idCategoria"  class="form-control"
        required pattern="[0-9]+" [(ngModel)]="categoria.idCategoria" disabled>
    </div>
    <br>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre"  class="form-control"
        required pattern="[a-zA-Z ]+" [(ngModel)]="categoria.nombre">
    </div>
    <br>
    <div class="form-group">
        <label>Descripcion</label>
        <input type="text" name="numTelefono"  class="form-control"
        required pattern="[a-zA-Z ]+" [(ngModel)]="categoria.descripcion">
    </div>
    <div class="btn-container">
      <input type="submit" value="Registrar" class="btn btn-success" style= "margin: 5px;" [disabled]="actualizarForm.invalid">
      <button class="btn btn-danger" style= "margin: 5px;" [routerLink]="['/categoria']">Cancelar</button>
    </div>
  </form>
  


